# Частина третя: Аналіз датасет c `Kaggle.com` - [link](https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019/data)

In [194]:
import numpy as np
import pandas as pd

from IPython.display import Markdown as md

## Необхідно виконати:
* Прочитайте csv файл (використовуйте функцію `read_csv`)
* Виведіть перші п'ять рядків (використовується функція `head`)
* Виведіть розміри датасету (використовуйте атрибут `shape`)

In [195]:
#
df = pd.read_csv('bestsellers with categories.csv')

In [196]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [197]:
df.shape

(550, 7)

### Про скільки книг зберігає дані датасет?

In [198]:
# print('Відповідь:')
# print(f'* Про скільки книг зберігає дані датасет?\nВідповідь: {df.shape[0]} книг')
num_unique_books = df.Name.nunique()
md(f'* Про скільки книг зберігає дані датасет?\\\n **Відповідь**: {num_unique_books} книг')

* Про скільки книг зберігає дані датасет?\
 **Відповідь**: 351 книг

## Нові назви змінних

In [199]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns
# df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

Index(['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre'], dtype='object')

## Первинне дослідження даних
* Чи є в якихось змінних пропуски? (Так / ні)
* Які є унікальні жанри?
* Максимальна ціна?
* Мінімальна ціна?
* Середня ціна?
* Медіанна ціна?

In [200]:
print('кількість пропусків:')
df.isna().sum()

кількість пропусків:

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [201]:
is_na = "Так" if df.isna().sum().sum() else "ні"
md(f'* Чи є в якихось змінних пропуски? \\\n  Відповідь: {is_na}')

* Чи є в якихось змінних пропуски? \
  Відповідь: ні

In [202]:
unique_genres = [g for g in df['genre'].unique()]
genres_str = ', '.join(unique_genres)
md(f'* Які є унікальні жанри?\\\n **Відповідь**: {genres_str}')

* Які є унікальні жанри?\
 **Відповідь**: Non Fiction, Fiction

In [203]:
max_price = df['price'].max()
md(f'* Максимальна ціна?\\\n **Відповідь**: {max_price}')

* Максимальна ціна?\
 **Відповідь**: 105

In [204]:
min_price = df['price'].min()
md(f'* Мінімальна ціна?\\\n **Відповідь**: {min_price}')

* Мінімальна ціна?\
 **Відповідь**: 0

In [205]:
mean_price = df['price'].mean()
md(f'* Середня ціна?\\\n **Відповідь**: {mean_price}')

* Середня ціна?\
 **Відповідь**: 13.1

In [206]:
median_price = df['price'].median()
md(f'* Медіанна ціна?\\\n **Відповідь**: {median_price}')

* Медіанна ціна?\
 **Відповідь**: 11.0

## Пошук та сортування даних
* Який рейтинг у датасеті найвищий?
* Скільки книг мають такий рейтинг?
* Яка книга має найбільше відгуків?
* З тих книг, що потрапили до Топ-50 у 2015 році, яка книга найдорожча?
* Скільки книг жанру Fiction потрапили до Топ-50 у 2010 році?
* Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках?
* Яка книга остання у відсортованому списку?

In [207]:
#





md(f'* Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках?\\\n **Відповідь**:')
md(f'* Яка книга остання у відсортованому списку?\\\n **Відповідь**:')

* Яка книга остання у відсортованому списку?\
 **Відповідь**:

In [208]:
max_rating = df['user_rating'].max()
md(f'* Який рейтинг у датасеті найвищий?\\\n **Відповідь**: {max_rating}')

* Який рейтинг у датасеті найвищий?\
 **Відповідь**: 4.9

In [209]:
max_rating_count = len(df.query(f'user_rating == {max_rating}'))
md(f'* Скільки книг мають такий рейтинг?\\\n **Відповідь**: {max_rating_count}')

* Скільки книг мають такий рейтинг?\
 **Відповідь**: 52

In [210]:
book_most_revieved_idx = df['reviews'].idxmax()
book_most_revieved = df.loc[book_most_revieved_idx]
md(f'* Яка книга має найбільше відгуків?\\\n **Відповідь**: _Назва_ - {book_most_revieved["name"]}, _автор_ - {book_most_revieved.author}')

* Яка книга має найбільше відгуків?\
 **Відповідь**: _Назва_ - Where the Crawdads Sing, _автор_ - Delia Owens

In [211]:
df_2015 = df[(df['year'] == 2015)]
df_2015_max_price_idx = df_2015['price'].idxmax()
book_in_2015_max_price = df_2015.loc[df_2015_max_price_idx]
md(f'* З тих книг, що потрапили до Топ-50 у 2015 році, яка книга найдорожча?\\\n **Відповідь**: \\\n \
_Назва_ - {book_in_2015_max_price["name"]} \\\n \
_автор_ - {book_in_2015_max_price.author}  \\\n \
_ціна_ - {book_in_2015_max_price.price}')

* З тих книг, що потрапили до Топ-50 у 2015 році, яка книга найдорожча?\
 **Відповідь**: \
 _Назва_ - Publication Manual of the American Psychological Association, 6th Edition \
 _автор_ - American Psychological Association  \
 _ціна_ - 46

In [212]:
df_fiction_2010 = df[(df['year'] == 2010) & (df['genre'] == 'Fiction')]
md(f'* Скільки книг жанру Fiction потрапили до Топ-50 у 2010 році?\\\n **Відповідь**: {df_fiction_2010.shape[0]}')

* Скільки книг жанру Fiction потрапили до Топ-50 у 2010 році?\
 **Відповідь**: 20

## Агрегування даних та з'єднання таблиць
* Максимальна ціна для жанру Fiction: Відповідь:
* Мінімальна ціна для жанру Fiction: Відповідь:
* Максимальна ціна для жанру Non Fiction: Відповідь:
* Мінімальна ціна для жанру Non Fiction: Відповідь:
* Якої розмірності вийшла таблиця? Відповідь:
* Який автор має найбільше книг? Відповідь:
* Скільки книг цього автора? Відповідь:
* У якого автора середній рейтинг мінімальний? Відповідь:
* Який у цього автора середній рейтинг? Відповідь:
* Який автор перший у списку? Відповідь:

In [213]:
#
print(f'* Максимальна ціна для жанру Fiction: Відповідь:')
print(f'* Мінімальна ціна для жанру Fiction: Відповідь:')
print(f'* Максимальна ціна для жанру Non Fiction: Відповідь:')
print(f'* Мінімальна ціна для жанру Non Fiction: Відповідь:')
print(f'* Якої розмірності вийшла таблиця? Відповідь:')
print(f'* Який автор має найбільше книг? Відповідь:')
print(f'* Скільки книг цього автора? Відповідь:')
print(f'* У якого автора середній рейтинг мінімальний? Відповідь:')
print(f'* Який у цього автора середній рейтинг? Відповідь:')
print(f'* Який автор перший у списку? Відповідь:')

* Максимальна ціна для жанру Fiction: Відповідь:
* Мінімальна ціна для жанру Fiction: Відповідь:
* Максимальна ціна для жанру Non Fiction: Відповідь:
* Мінімальна ціна для жанру Non Fiction: Відповідь:
* Якої розмірності вийшла таблиця? Відповідь:
* Який автор має найбільше книг? Відповідь:
* Скільки книг цього автора? Відповідь:
* У якого автора середній рейтинг мінімальний? Відповідь:
* Який у цього автора середній рейтинг? Відповідь:
* Який автор перший у списку? Відповідь: